<h1>About</h1>
<p style="text-align: left;"><br/>4092321的作業</p>
<p style="text-align: left;"><img alt="" height="480" src="/images/螢幕擷取畫面 2020-10-18 214456.png" width="978"/></p>
<h1>上課筆記</h1>
<p>第一周-cp2020 introduction to computer programming</p>
<p>單字:repositroy=倉儲 DNS=域名解析 proxy=代理主機 remote=遠端 distributed=分散</p>
<p>主機最下方為瑞昱(Realtek)網路接口</p>
<p>在2012年全台校園皆改為IPv6(<span>Internet Protocol version 6)<b>網際協定第6版</b></span></p>
<p><span>2001:6004:168::1為中華電信的DNS(用"::"表示一組0或多組0，但是只能出現一次)</span></p>
<p style="text-align: center;"><span>________</span><span>________</span><span>________</span><span>________</span>網路測試<span>________</span><span>________________________</span></p>
<p style="text-align: left;"><span>(1)screah "CMD" type in "ipconfig /all" (ipconfig = Internet protocol configuration)</span></p>
<p style="text-align: left;"><span>(2)type in "ping 2001:288:6004:17:254" (傳送一次封包)(ps. a.kmol.info是短名稱)</span></p>
<p style="text-align: left;">    <span>type in "ping -t 2001:288:6004:17:254" (傳送多次封包)</span></p>
<p style="text-align: left;">IPv6轉譯位址有69、53、42(由大至小)port為3128(在校內)</p>
<p style="text-align: center;"><span>______</span><span>_______</span><span>_______</span><span>________</span>IPv6 setting in chrome<span>_______</span><span>________</span><span>________</span><span>_____</span></p>
<p style="text-align: left;">step:打開google chrome<span>→圖示<img alt="" height="16" src="/images/螢幕擷取畫面 2020-10-21 173822.png" width="11"/>→選擇setting→開啟Advance→在system有Open your computer's proxy setting並將其開啟</span></p>
<h1>PCH 11 Networking Media</h1>
<p><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed60a0001dc34b7c631f7c68297"><span>傳送門:</span></a><a href="https://oli.cmu.edu/jcourse/webui/syllabus/module.do?context=d87f2ed50a0001dc1a3f7bbafbe683af">https://oli.cmu.edu/jcourse/webui/syllabus/module.do?context=d87f2ed50a0001dc1a3f7bbafbe683af</a></p>
<h2>Fiber-Optic Cable光纖電纜</h2>
<div class="tw-ta-container hide-focus-ring tw-nfl" id="tw-target-rmn-container"></div>
<p><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed60a0001dc34b7c631f7c68297"><span>傳送門:</span></a><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed60a0001dc34b7c631f7c68297">https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed60a0001dc34b7c631f7c68297</a></p>
<h3>Overview總覽</h3>
<p><a href="https://github.com/mdecourse/cmsimde"></a><span>In this module</span><span>, we’re going to discuss the various types of network media.</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">在這個模組中，</span><span lang="zh-TW">我們將討論各種類型的網絡媒體。</span></pre>
<p><span> We will begin with fiber-optic cable and then discuss twisted pair cable and coaxial cable.</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">我們將從光纖電纜開始，然後討論雙絞線電纜和同軸電纜。</span></pre>
<p><span> For each of these cable types, we will discuss appearance, characteristics, and types of connectors, as well as speed and limitations.</span></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr"><span lang="zh-TW">對於每種電纜類型，我們將討論連接器的外觀，特性和類型，以及速度和限制。<br/></span></pre>
<h3>Fiber-Optic Cable光纖電纜</h3>
<p id="N10692" lang="">Fiber-optic cables are constructed by using a glass core at the center of the cable that is surrounded by cladding.</p>
<p lang=""><span>光纖電纜是通過在電纜的中心使用玻璃芯構成的，該玻璃芯被包層圍繞。</span></p>
<p lang="">In order to send data from one end of the cable to the other, light from a light-emitting diode (LED) or laser is used to transmit the signal down the glass fiber at the center of the cable.</p>
<p lang=""><span>為了將數據從電纜的一端發送到另一端，可使用來自發光二極管（LED）或激光的光沿電纜中心的玻璃纖維向下傳輸信號。</span></p>
<p lang="">Because the data is being transmitted using light, it is immune to the effects of electromagnetic interference (EMI) that impact traditional copper-based cables, such as twisted pair and coaxial cables.</p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">由於數據是通過光傳輸的，因此不受電磁干擾（EMI）的影響，電磁干擾會影響傳統的銅基電纜，如雙絞線和同軸電纜。</span></pre>
<p lang="">Fiber-optic cables possess the ability to send the data a very far distance (many miles) without the use of a repeater.</p>
<p lang="">光纖具有無需使用中繼器就可以很遠的距離（許多英里）發送數據的能力。</p>
<p lang="">They also can carry a significant amount of data due to their large bandwidth and the information traveling at light speed.</p>
<p lang="">由於它們的大帶寬和以光速傳播的信息，它們還可以攜帶大量數據。</p>
<p lang="">Their bandwidth can be measured in gigabits or even terabits per second.</p>
<p lang="">它們的帶寬可以每秒千兆比特或什至兆兆比特來度量。</p>
<p lang="">There are two types of fiber cables: multimode and single-mode fiber.</p>
<div class="tw-ta-container hide-focus-ring tw-lfl" id="tw-target-text-container" tabindex="0">
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">光纖電纜有兩種類型：多模和單模光纖。<br/><img alt="" height="411" src="/images/image1.png" width="383"/><br/></span></pre>
</div>
<div class="tw-ta-container hide-focus-ring tw-nfl" id="tw-target-rmn-container">
<p id="N106A2" lang="">Multimode fiber cables (MMF) contain a larger core than the single-mode variety.</p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">多模光纜（MMF）的芯線比單模光纜大。</span></pre>
<p lang="">The core size for a multimode fiber is 62.5 microns.</p>
<p lang="">多模光纖的纖芯尺寸為62.5微米。</p>
<p lang="">A micron is a very small unit of measurement—it is actually even smaller than the width of a human hair.</p>
<p lang="">微米是非常小的度量單位，實際上甚至比人類頭髮的寬度還小。</p>
<p lang="">MMF’s larger core enables multiple modes of travel for the light from one end of the cable to the other.</p>
<p lang="">MMF的較大芯線實現了從電纜一端到另一端的多種傳播模式。</p>
<p lang="">This allows a single fiber to carry multiple signals across it, with each signal being transmitted at a slightly different reflective angle.</p>
<p lang="">這樣一來，單根光纖就可以在其上傳輸多個信號，而每個信號都以稍微不同的反射角傳輸。</p>
<p lang="">When the light reaches the destination, the signals are then converted back into 1s and 0s and passed to the computer by the network interface card.</p>
<p lang="">當光到達目的地時，信號然後被轉換回1和0，然後通過網絡接口卡傳遞到計算機。</p>
<p lang="">Multimode fiber is commonly used in shorter distance fiber connections, such as from a router to a switch, a switch to a switch, or a server to a switch.</p>
<p lang="">多模光纖通常用於較短距離的光纖連接中，例如從路由器到交換機，從交換機到交換機或從服務器到交換機。</p>
<p id="N106A5" lang="">Single-mode fiber cables (SMF) contain a much smaller core than the multimode variety.</p>
<p lang="">單模光纜（SMF）的芯線比多模光纜小得多。</p>
<p lang="">The core size for SMF is 10 microns. SMF’s smaller core only allows for a single mode of travel for the light from one end of the cable to the other.</p>
<p lang="">SMF的芯尺寸為10微米。 SMF的較小芯線僅允許光從電纜一端到另一端的單一傳播模式。</p>
<p lang="">This straight-through connection allows for data to travel longer distances without a repeater than it can travel using MMF.</p>
<p lang="">這種直通連接允許數據在沒有中繼器的情況下傳輸的距離比使用MMF傳輸的距離更長。</p>
<p lang="">When the light reaches the destination, the signals are then converted back into 1s and 0s and passed to the computer by the network interface card.</p>
<p lang="">當光到達目的地時，信號然後被轉換回1和0，然後通過網絡接口卡傳遞到計算機。</p>
<p lang="">Single mode fiber is commonly used in very long distance fiber connections, such as a backbone connection from one local area network to another.</p>
<p lang="">單模光纖通常用於超長距離的光纖連接中，例如從一個局域網到另一個局域網的骨干連接。</p>
</div>
<h3>Fiber-Optic Cable Connectors光纖電纜連接器</h3>
<p id="N106B2" lang="">Fiber cables only come in the two types discussed above: single-mode and multimode. However, the ends of each of these cables come in four varieties.</p>
<p lang="">光纖電纜僅屬於上述兩種類型：單模和多模。但是，每條電纜的末端都有四種。</p>
<p id="N106B5" lang="">The subscriber connector (SC) is a fiber-optic cable connector that uses a push-pull mechanism to latch into the port, similar to common audio and video cables.</p>
<p lang="">用戶連接器（SC）是一種光纖電纜連接器，類似於普通的音頻和視頻電纜，它使用推挽機制鎖入端口。</p>
<p lang="">If you want to enable bidirectional transmission for sending and receiving data, you need to have two fiber cables, so sometimes a dual SC connector is used.</p>
<p lang="">如果要啟用雙向傳輸以發送和接收數據，則需要使用兩根光纖電纜，因此有時會使用雙SC連接器。</p>
<p id="N106B8" lang="">The straight tip (ST) connector is a fiber-optic cable connector that uses a bayonet plug and socket.</p>
<div class="tw-ta-container hide-focus-ring tw-lfl" id="tw-target-text-container" tabindex="0">
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">筆直（ST）連接器是使用卡口插頭和插座的光纖電纜連接器。</span></pre>
</div>
<p lang="">It was the first de facto standard connector for most commercial wiring using fiber cables and it is very commonly found in fiber networks.</p>
<p lang="">它是大多數使用光纖電纜進行商業佈線的第一個事實上的標準連接器，並且在光纖網絡中非常常見。</p>
<p id="N106BB" lang="">The Lucent connector (LC) is a miniaturized version of the fiber-optic SC connector.</p>
<p lang="">朗訊連接器（LC）是光纖SC連接器的微型版本。</p>
<p lang="">It looks somewhat like the SC, but is half the size, with a 1.25 mm ferrule instead of 2.5 mm, making it very useful when connecting multiple devices in a small area, such as on a 24-port switch’s front panel.</p>
<p lang="">它看上去有點像SC，但尺寸只有一半，只有1.25毫米而不是2.5毫米的套圈，因此在小區域（例如24端口交換機的前面板）連接多個設備時非常有用。</p>
<p id="N106BE" lang="">The mechanical transfer-registered jack (MT-RJ) connector is a fiber-optic cable connector that is very popular for small-form-factor devices due to its small size.</p>
<p lang="">機械傳輸註冊插孔（MT-RJ）連接器是一種光纖電纜連接器，由於其尺寸小，在小型設備中非常受歡迎。</p>
<p lang="">This connector houses two fibers and mates with locating pins on the plug.</p>
<p lang="">該連接器容納兩根光纖，並與插頭上的定位銷配對。</p>
<p lang="">These connectors are commonly found connecting a switch to a patch panel, because both devices have a limited area on their front panels.</p>
<p lang="">通常發現這些連接器將開關連接到配線架，因為兩個設備的前面板都有有限的區域。</p>
<h2>Twisted Pair Cable雙絞線</h2>
<p>傳送門:<a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed70a0001dc2a09c83ae8e59703">https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed70a0001dc2a09c83ae8e59703</a></p>
<h3>Twisted Pair Cable雙絞線</h3>
<p id="N1068B" lang="">While fiber-optic cable is great for its speed, distance, and security, it hasn’t yet become commonplace in most networks.</p>
<p lang="">儘管光纜在速度，距離和安全性方面都非常出色，但在大多數網絡中尚未普及。</p>
<p lang="">Instead, we are still using the same type of cabling we have been using for the past two to three decades — twisted pair.</p>
<p lang="">相反，我們仍在使用過去兩到三十年來一直使用的相同類型的電纜-雙絞線。</p>
<p lang="">Twisted pair cable is the most popular physical LAN media in the world today.</p>
<p lang="">雙絞線電纜是當今世界上最流行的物理LAN介質。</p>
<p lang="">Each cable contains four pairs of individually insulated strands of copper wire.</p>
<p lang="">每條電纜包含四對獨立絕緣的銅線。</p>
<p lang="">Each pair is twisted together to minimize the amount of electromagnetic interference (EMI).</p>
<p lang="">每對絞合在一起以最大程度地減少電磁干擾（EMI）。</p>
<p lang="">The more twists there are in the cable, the less EMI there will be. Twisted pair cable is broken up into two types: unshielded twisted pair (UTP) and shielded twisted pair (STP).</p>
<p>電纜中的扭曲越多，EMI越小。雙絞線電纜分為兩種類型：非屏蔽雙絞線（UTP）和屏蔽雙絞線（STP）。</p>
<p><img alt="" height="416" src="/images/image6.png" width="350"/></p>
<p id="N1069C" lang="">Shielded twisted pair cable is built very similarly to unshielded twisted pair, except that the pairs of wires are also surrounded by a metallic shielding (like foil).</p>
<p lang="">屏蔽雙絞線電纜的構造與非屏蔽雙絞線非常相似，不同的是，成對的電線也被金屬屏蔽層（如金屬箔）圍繞。</p>
<p lang="">This outer foil shielding minimizes the EMI to which the cable is exposed. This increases the security and reliability of the cable.</p>
<p lang="">外部箔屏蔽層可最大程度地減小電纜所遭受的EMI。這增加了電纜的安全性和可靠性。</p>
<p lang="">Unfortunately, however, this also increases the cost of the cable, so it is typically used only in high-production environments where the extra security is worth the extra cost.</p>
<p lang="">但是，不幸的是，這也增加了電纜的成本，因此通常僅在高生產環境中使用，在這種環境中，額外的安全性值得額外的成本。</p>
<p lang="">The more common type of cabling is unshielded twisted pair cable.</p>
<p lang="">電纜的最常見類型是非屏蔽雙絞線電纜。</p>
<p lang="">Instead of using extra shielding, this cable relies on the twisting of its copper pairs to minimize the effects of EMI.</p>
<p lang="">該電纜不使用額外的屏蔽，而是依靠其銅線對的絞合來最大程度地減小EMI的影響。</p>
<p lang="">Each twisted pair is twisted to insulate itself from the other pairs, and because there is no additional shielding, it is available at a lower cost than STP.</p>
<p lang="">每個雙絞線都經過絞合，以使其自身與其他雙絞線絕緣，並且由於沒有額外的屏蔽，因此可以以比STP更低的成本獲得。</p>
<p lang="">Therefore, UTP is the most common media of choice for small office, home office, residential, and many commercial networks.</p>
<p lang="">因此，UTP是小型辦公室，家庭辦公室，住宅和許多商業網絡中最常見的選擇媒體。</p>
<p lang=""><img alt="" height="570" src="/images/image7.png" width="418"/></p>
<h3>Categorizing Twisted Pair Cable分類雙絞線電纜</h3>
<p id="N106B9" lang="">Twisted pair cable is categorized based on a category (cat) number. For example, cat 3, or category 3, is the oldest type of cable that we use.</p>
<p lang=""></p>
<p lang="">It was introduced back in the 1980s and 1990s for use in the first star topologies. The maximum throughput or bandwidth of cat 3 cabling is only 10 Mbps (megabits per second).</p>
<p lang=""></p>
<p lang="">The cat 3, like all twisted pair cabling, cannot go farther than 100 meters without using a repeater, switch, or active hub to amplify the signal.</p>
<p lang=""></p>
<p lang="">This limited distance is attributable to the copper wiring in these cables.</p>
<p lang="">這種有限的距離歸因於這些電纜中的銅線。</p>
<p lang="">As the signal travels over the copper wire, the natural resistance to the wire decreases the signal’s strength, and it eventually becomes too weak for the distant end to receive.</p>
<p lang="">當信號在銅線上傳輸時，導線的固有電阻會降低信號的強度，最終變得太弱，無法接收到遠端。</p>
<p lang="">For this reason, there is a 100 meter limitation when building and designing a twisted pair network.</p>
<p lang="">因此，在構建和設計雙絞線網絡時存在100米的限制。</p>
<p id="N106BC" lang="">Cat 5 cables were an improvement on the older cat 3 cables and contain more twists, giving them more shielding from EMI and a maximum bandwidth of 100 Mbps.</p>
<p lang="">Cat 5電纜是對較舊的Cat 3電纜的改進，並包含更多的絞合線，從而使其具有更大的EMI屏蔽能力，最大帶寬為100 Mbps。</p>
<p lang="">Cat 5e, or cat 5 enhanced, increased the speed of the maximum throughput to one Gbps, or 1000 Mbps, and became a gap filler until cat 6 cabling became commonplace.</p>
<p lang="">Cat 5e或Cat 5增強後，將最大吞吐量的速度提高到1 Gbps或1000 Mbps，並成為了空白，直到Cat 6電纜變得司空見慣。</p>
<p id="N106BF" lang="">Cat 6a overcomes the 37-55 meter limitation of cat 6 when used in 10GBaseT. Cat 7, the newest standard, is shielded and provides connections up to 10 Gbps with a maximum distance of 100 meters.</p>
<p lang="">當在10GBaseT中使用時，Cat 6a克服了Cat 6的37-55米的限制。最新標準Cat 7被屏蔽，並提供高達10 Gbps的連接，最大距離為100米。</p>
<p lang="">“Cat 7 and cat 7a cabling will be used for backbone connections between servers within a data center” and “provide an alternative to using fiber-optic cabling within the data center” (from<a href="http://www.cablestogo.com/learning/library/data-center/cat7-overview" id="_i_4" lang="" target="_blank">http://www.cablestogo.com/learning/library/data-center/cat7-overview</a>).</p>
<p lang="">“ Cat 7和Cat 7a電纜將用於數據中心內服務器之間的主干連接”，並且“提供了在數據中心內使用光纖電纜的替代方法”</p>
<p id="N106C8" lang="">All cable categories up to cat 5e and cat 6a have a maximum distance of 100 meters.</p>
<p lang="">直至Cat 5e和Cat 6a為止的所有電纜類別的最大距離為100米。</p>
<p lang="">When used in 10GBaseT, the maximum distance for cat 6 is 55 meters.</p>
<p lang="">在10GBaseT中使用時，類別6的最大距離為55米。</p>
<p lang="">Cat 7 is shielded and exceeds the 100 meter limit.</p>
<p lang="">Cat 7被屏蔽並超過了100米的限制。</p>
<p lang="">As the category of the cable increases, so do the number of twists per inch and the frequency range, allowing for more data and improved protection against EMI.</p>
<p lang="">隨著電纜類別的增加，每英寸的捻數和頻率範圍也會增加，從而可以提供更多的數據並改善對EMI的保護。</p>
<p lang="">Best practice for copper cabling is<span> </span><em class="italic" lang="">not<span> </span></em>to run cable lengths to the maximum because attenuation will reduce data capacity.</p>
<p lang="">銅纜佈線的最佳實踐是不要使電纜長度最大，因為衰減會降低數據容量。</p>
<p lang=""><img alt="" height="253" src="/images/螢幕擷取畫面 2020-10-18 233714.png" width="632"/></p>
<h3>Twisted Pair Connectors雙絞線連接器</h3>
<p id="N10735" lang="">Twisted pair cables come with three main types of connectors.</p>
<p lang="">雙絞線電纜帶有三種主要類型的連接器。</p>
<p lang="">The first is the RJ-45 connector, which is an eight-pin connector used in Ethernet networks.</p>
<p lang="">第一個是RJ-45連接器，它是以太網網絡中使用的八針連接器。</p>
<p lang="">Even though most Ethernet networks use only four pins, the RJ-45 provides eight pins for future use and capabilities.</p>
<p lang="">即使大多數以太網僅使用四個引腳，RJ-45仍提供八個引腳以供將來使用和使用。</p>
<p lang="">The first four pins are used to transmit (two pins) and receive (two pins).</p>
<p lang="">前四個引腳用於發送（兩個引腳）和接收（兩個引腳）。</p>
<p id="N10738" lang="">The RJ-11 connector is used in the standard telephone system.</p>
<p lang="">RJ-11連接器用於標準電話系統。</p>
<p lang="">The RJ-11 is a six-pin connector, but commonly only two pins are used for a telephone (transmit and receive).</p>
<p lang="">RJ-11是一個六針連接器，但電話通常僅使用兩個針（發送和接收）。</p>
<p lang="">If you have a two-line phone, then four pins are used: two pins to transmit and two pins to receive.</p>
<p lang="">如果您有兩線電話，則使用四個引腳：兩個引腳用於發送，兩個引腳用於接收。</p>
<p id="N1073B" lang="">Finally, the DB-9 connector is used for RS-232 signals.</p>
<p lang="">最後，DB-9連接器用於RS-232信號。</p>
<p lang="">This connector looks like a standard serial connector. It is used commonly for asynchronous serial communications, like connecting to an external modem.</p>
<p lang="">該連接器看起來像標準的串行連接器。它通常用於異步串行通信，例如連接到外部調製解調器。</p>
<p lang="">In modern networks, you will see this type of connector on a “rollover cable.”</p>
<p lang="">在現代網絡中，您將在“翻轉電纜”上看到這種類型的連接器。</p>
<p lang="">A rollover cable has a DB-9 on one side (which is connected to your laptop’s serial port), and an RJ-45 connector on the other side (which is used to connect to Cisco routers and switches to do administration tasks).</p>
<p lang="">翻轉電纜的一側為DB-9（連接到筆記本電腦的串行端口），另一側為RJ-45連接器（用於連接到Cisco路由器和交換機以執行管理任務）。</p>
<p id="N1073E" lang="">A straight-through cable is a type of twisted pair cable that is used in local area networks to connect a computer to a network hub, such as a router.</p>
<p lang="">直通電纜是雙絞線電纜的一種，在局域網中用於將計算機連接到網絡集線器（例如路由器）。</p>
<p lang="">This type of cable is also sometimes called a patch cable.</p>
<p lang="">此類電纜有時也稱為跳線。</p>
<p lang="">Both ends of the cable have an identical pinout, hence the name “straight-through.” A crossover cable switches the pinouts of the two ends of the cable, making the transmit and receive pins alternate on the two ends. This allows two workstations to connect directly to each other without the need for a hub, switch, or router.</p>
<p lang="">電纜的兩端都具有相同的引出線，因此名稱為“直通”。交叉電纜切換電纜兩端的引腳分配，使發送和接收引腳在兩端交替。這允許兩個工作站直接相互連接，而無需集線器，交換機或路由器。</p>
<p lang=""><img alt="" height="500" src="/images/image8.png" width="500"/></p>
<h3>Categorizing Twisted Pair Cable分類雙絞線電纜</h3>
<p id="N106B9" lang="">Twisted pair cable is categorized based on a category (cat) number. For example, cat 3, or category 3, is the oldest type of cable that we use.</p>
<p lang="">雙絞線電纜根據類別（類別）編號進行分類。例如，類別3（或類別3）是我們使用的最古老的電纜類型。</p>
<p lang="">It was introduced back in the 1980s and 1990s for use in the first star topologies.</p>
<p lang="">它是在1980年代和1990年代引入的，用於第一批星形拓撲。</p>
<p lang="">The maximum throughput or bandwidth of cat 3 cabling is only 10 Mbps (megabits per second).</p>
<p lang="">Cat 3電纜的最大吞吐量或帶寬僅為10 Mbps（兆位/秒）。</p>
<p lang="">The cat 3, like all twisted pair cabling, cannot go farther than 100 meters without using a repeater, switch, or active hub to amplify the signal.</p>
<p lang="">與所有雙絞線電纜一樣，如果不使用中繼器，交換機或有源集線器來放大信號，則Cat 3不能走超過100米。</p>
<p lang="">This limited distance is attributable to the copper wiring in these cables.</p>
<p lang="">這種有限的距離歸因於這些電纜中的銅線。</p>
<p lang="">As the signal travels over the copper wire, the natural resistance to the wire decreases the signal’s strength, and it eventually becomes too weak for the distant end to receive.</p>
<p lang="">當信號在銅線上傳輸時，導線的固有電阻會降低信號的強度，最終變得太弱，無法接收到遠端。</p>
<p lang="">For this reason, there is a 100 meter limitation when building and designing a twisted pair network.</p>
<p lang="">因此，在構建和設計雙絞線網絡時存在100米的限制。</p>
<p id="N106BC" lang="">Cat 5 cables were an improvement on the older cat 3 cables and contain more twists, giving them more shielding from EMI and a maximum bandwidth of 100 Mbps.</p>
<p lang="">Cat 5電纜是對較舊的Cat 3電纜的改進，並包含更多的絞合線，從而使其具有更大的EMI屏蔽能力，最大帶寬為100 Mbps。</p>
<p lang="">Cat 5e, or cat 5 enhanced, increased the speed of the maximum throughput to one Gbps, or 1000 Mbps, and became a gap filler until cat 6 cabling became commonplace.</p>
<p lang="">Cat 5e或Cat 5增強後，將最大吞吐量的速度提高到1 Gbps或1000 Mbps，並成為了空白，直到Cat 6電纜變得司空見慣。</p>
<p id="N106BF" lang="">Cat 6a overcomes the 37-55 meter limitation of cat 6 when used in 10GBaseT.</p>
<p lang="">當在10GBaseT中使用時，Cat 6a克服了Cat 6的37-55米的限制。</p>
<p lang="">Cat 7, the newest standard, is shielded and provides connections up to 10 Gbps with a maximum distance of 100 meters.</p>
<p lang="">最新標準Cat 7被屏蔽，並提供高達10 Gbps的連接，最大距離為100米。</p>
<p lang="">“Cat 7 and cat 7a cabling will be used for backbone connections between servers within a data center” and “provide an alternative to using fiber-optic cabling within the data center” (from<a href="http://www.cablestogo.com/learning/library/data-center/cat7-overview" id="_i_4" lang="" target="_blank">http://www.cablestogo.com/learning/library/data-center/cat7-overview</a>).</p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">“ Cat 7和Cat 7a電纜將用於數據中心內服務器之間的骨干連接”，並“提供在數據中心內使用光纖電纜的替代方法”</span></pre>
<p id="N106C8" lang="">All cable categories up to cat 5e and cat 6a have a maximum distance of 100 meters. When used in 10GBaseT, the maximum distance for cat 6 is 55 meters.</p>
<p lang="">直至Cat 5e和Cat 6a為止的所有電纜類別的最大距離為100米。在10GBaseT中使用時，類別6的最大距離為55米。</p>
<p lang="">Cat 7 is shielded and exceeds the 100 meter limit.</p>
<p lang="">Cat 7被屏蔽並超過了100米的限制。</p>
<p lang="">As the category of the cable increases, so do the number of twists per inch and the frequency range, allowing for more data and improved protection against EMI.</p>
<p lang="">隨著電纜類別的增加，每英寸的捻數和頻率範圍也會增加，從而可以提供更多的數據並改善對EMI的保護。</p>
<p lang="">Best practice for copper cabling is<span> </span><em class="italic" lang="">not<span> </span></em>to run cable lengths to the maximum because attenuation will reduce data capacity.</p>
<p lang="">銅纜佈線的最佳實踐是不要使電纜長度最大，因為衰減會降低數據容量。</p>
<p lang=""><img alt="" height="253" src="/images/螢幕擷取畫面 2020-10-18 233714.png" width="632"/></p>
<h3>Twisted Pair Connectors雙絞線連接器-1</h3>
<div class="tw-ta-container hide-focus-ring tw-nfl" id="tw-target-rmn-container">
<p id="N10735" lang="">Twisted pair cables come with three main types of connectors.</p>
<p lang="">雙絞線電纜帶有三種主要類型的連接器。</p>
<p lang="">The first is the RJ-45 connector, which is an eight-pin connector used in Ethernet networks.</p>
<p lang="">第一個是RJ-45連接器，它是以太網網絡中使用的八針連接器。</p>
<p lang="">Even though most Ethernet networks use only four pins, the RJ-45 provides eight pins for future use and capabilities.</p>
<p lang="">即使大多數以太網僅使用四個引腳，RJ-45仍提供八個引腳以供將來使用和使用。</p>
<p lang="">The first four pins are used to transmit (two pins) and receive (two pins).</p>
<p lang="">前四個引腳用於發送（兩個引腳）和接收（兩個引腳）。</p>
<p id="N10738" lang="">The RJ-11 connector is used in the standard telephone system.</p>
<p lang="">RJ-11連接器用於標準電話系統。</p>
<p lang="">The RJ-11 is a six-pin connector, but commonly only two pins are used for a telephone (transmit and receive).</p>
<p lang="">RJ-11是一個六針連接器，但電話通常僅使用兩個針（發送和接收）。</p>
<p lang="">If you have a two-line phone, then four pins are used: two pins to transmit and two pins to receive.</p>
<p lang="">如果您有兩線電話，則使用四個引腳：兩個引腳用於發送，兩個引腳用於接收。</p>
<p id="N1073B" lang="">Finally, the DB-9 connector is used for RS-232 signals.</p>
<p lang="">最後，DB-9連接器用於RS-232信號。</p>
<p lang="">This connector looks like a standard serial connector. It is used commonly for asynchronous serial communications, like connecting to an external modem.</p>
<p lang="">該連接器看起來像標準的串行連接器。它通常用於異步串行通信，例如連接到外部調製解調器。</p>
<p lang="">In modern networks, you will see this type of connector on a “rollover cable.” A rollover cable has a DB-9 on one side (which is connected to your laptop’s serial port), and an RJ-45 connector on the other side (which is used to connect to Cisco routers and switches to do administration tasks).</p>
<p lang="">在現代網絡中，您將在“翻轉電纜”上看到這種類型的連接器。翻轉電纜的一側為DB-9（連接到筆記本電腦的串行端口），另一側為RJ-45連接器（用於連接到Cisco路由器和交換機以執行管理任務）。</p>
<p id="N1073E" lang="">A straight-through cable is a type of twisted pair cable that is used in local area networks to connect a computer to a network hub, such as a router.</p>
<p lang="">直通電纜是雙絞線電纜的一種，在局域網中用於將計算機連接到網絡集線器（例如路由器）。</p>
<p lang="">This type of cable is also sometimes called a patch cable.</p>
<p lang="">此類電纜有時也稱為跳線。</p>
<p lang="">Both ends of the cable have an identical pinout, hence the name “straight-through.” A crossover cable switches the pinouts of the two ends of the cable, making the transmit and receive pins alternate on the two ends.</p>
<p lang="">電纜的兩端都具有相同的引出線，因此名稱為“直通”。交叉電纜切換電纜兩端的引腳分配，使發送和接收引腳在兩端交替。</p>
<p lang="">This allows two workstations to connect directly to each other without the need for a hub, switch, or router.</p>
<p lang="">這允許兩個工作站直接相互連接，而無需集線器，交換機或路由器。<img alt="" height="500" src="/images/image8.png" width="500"/></p>
<h2>Coaxial Cable同軸電纜</h2>
<p><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed80a0001dc2e85178ac6debe3c">傳送門:https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ed80a0001dc2e85178ac6debe3c</a></p>
<h3>Coaxial Cable同軸電纜</h3>
<p><span>Coaxial cable is a much older media technology.</span></p>
<p><span>同軸電纜是一種較老的媒體技術。</span></p>
<p><span> Coaxial cable, also known as coax for short, is composed of two conductors.</span></p>
<p><span>同軸電纜，也簡稱為同軸電纜，由兩個導體組成。</span></p>
<p><span> The inner conductor, which is known as the insulated conductor (center wire), is the copper wire over which data is passed. </span></p>
<p><span>內部導體（稱為絕緣導體（中心線））是在其上傳遞數據的銅線。</span></p>
<p><span>The outer conductor is the braided metal shield and aids in protecting the inner wire from physi</span>cal injury and the effects of EMI.</p>
<p>外導體是編織的金屬屏蔽層，有助於保護內線免受物理傷害和EMI的影響。</p>
<p>Much like the shielding we saw in shielded twisted pair, the outer shield helps keep electromagnetic interference out of the data’s path.</p>
<p>就像我們在屏蔽雙絞線中看到的屏蔽一樣，外部屏蔽有助於將電磁干擾排除在數據路徑之外。</p>
<p>Between the inner conductor and the outer shield, we find an insulated core that prevents any data transfer between the inner core and outer shield.</p>
<p>在內部導體和外部屏蔽層之間，我們找到了一個絕緣芯，可防止在內芯和外部屏蔽層之間進行任何數據傳輸。</p>
<p>The outside of the cable is made of a flexible plastic jacket, much like the twisted pair cabling.</p>
<p>電纜的外部由柔軟的塑料護套製成，非常類似於雙絞線電纜。</p>
<p>Coaxial cabling was included in the first Ethernet standard as 10Base5 (thicknet) and continued to be used throughout updates as 10Base2 (thinnet) as well as being most commonly used in bus and ring networks.</p>
<p>同軸電纜已包含在第一個以太網標準中，稱為10Base5（Thicknet），並在整個更新中繼續用作10Base2（Thinnet），並在總線和環形網絡中最常用。</p>
<p>UTP cabling however, is easier to work with in a star topology and is significantly less expensive.</p>
<p>但是，UTP電纜更容易在星形拓撲中使用，並且價格便宜得多。</p>
<p><img alt="" height="424" src="/images/image9.png" width="299"/></p>
<h3>Coaxial Cable Types同軸電纜類型</h3>
<div class="section" id="N106A2">
<div class="sectionContain">
<p id="N106A9" lang="">There are three dominant coaxial cable types.</p>
<p lang="">共有三種主要的同軸電纜類型。</p>
<p lang="">The RG-6 is commonly used by cable TV companies to connect individual homes to the TV network.</p>
<p lang="">有線電視公司通常使用RG-6將單個房屋連接到電視網絡。</p>
<p lang="">These cables are thick and usually used for outside connections to withstand the effects of the weather.</p>
<p lang="">這些電纜很粗，通常用於外部連接以承受天氣的影響。</p>
<p lang="">The RG-58 is a type of coaxial cable that was heavily used in early 10Base2 (thinnet) networks, such as bus and ring topologies.</p>
<p lang="">RG-58是一種同軸電纜，在諸如總線和環形拓撲之類的早期10Base2（瘦網）網絡中大量使用。</p>
<p lang="">Finally, the RG-59 is the traditional coaxial cable used to carry composite video between two nearby devices, such as your TV and the cable box.</p>
<p lang="">最後，RG-59是傳統的同軸電纜，用於在兩個附近的設備（例如電視和電纜盒）之間傳送複合視頻。</p>
<p lang="">If you are a cable Internet user, this is also used to carry the WAN connection from your wall jack to your cable modem.</p>
<p lang="">如果您是有線Internet用戶，這也可用於將WAN連接從牆壁插孔連接到電纜調製解調器。</p>
<h3>Coaxial Cable Connectors同軸電纜連接器</h3>
<p id="N106B5" lang="">While there were three types of cables, there are only two types of common connectors used with coaxial cable.</p>
<p lang="">雖然有三種類型的電纜，但同軸電纜僅使用兩種類型的普通連接器。</p>
<p lang="">The first is called BNC, from the name Bayonet Neill-Concelman.</p>
<p lang="">第一個稱為BNC，名稱為<span>尼爾-康塞曼卡口(Bayonet Neill-Concelman)</span>。</p>
<p lang="">Sometimes people also call this the British Naval connector, because the BNC was heavily used by the British in their shipboard radio systems.</p>
<p lang="">有時人們也將其稱為英國海軍連接器，因為英國人在其艦載無線電系統中大量使用了BNC。</p>
<p lang="">This connector was commonly used in early Ethernet networks and it has a “push and twist” type of connector to secure the cable to the network device.</p>
<p lang="">該連接器通常用於早期的以太網網絡，並且具有“推壓式”連接器，用於將電纜固定至網絡設備。</p>
<p id="N106B8" lang="">The F-type connector is the modern type of coaxial cable connector.</p>
<p lang="">F型連接器是現代類型的同軸電纜連接器。</p>
<p lang="">It is typically used for cable TV and cable modem connections.</p>
<p lang="">它通常用於有線電視和電纜調製解調器的連接。</p>
<p lang="">It is connected by screwing the connector onto a threaded jack to secure the connection.</p>
<p lang="">通過將連接器擰到帶螺紋的插孔上進行連接以固定連接。</p>
<p lang=""><img alt="" height="330" src="/images/image10.png" width="290"/></p>
<h2>Copper vs. Fiber銅與光纖</h2>
<p><span>When we compare the advantages and disadvantages of fiber-optic cables and copper (twisted pair) cables, we have to consider that fiber-optic has a higher bandwidth (measured in Gbps or Tbps), it can carry its signal many miles without the need of a repeater, it is immune to the effects of EMI, and it has much better security than traditional twisted pair cables.</span></p>
<p><span>當我們比較光纖電纜和銅纜（雙絞線）的優缺點時，我們必須考慮到光纖具有更高的帶寬（以Gbps或Tbps為單位），它可以將其信號傳輸很多英里而無需作為中繼器，它不受EMI的影響，並且比傳統的雙絞線電纜具有更好的安全性。</span></p>
<p><span> However, twisted pair cabling does hold some advantages of its own. For one, it is much less expensive than fiber-optic cabling. </span></p>
<p><span>但是，雙絞線電纜確實具有其自身的一些優點。首先，它比光纖電纜便宜得多。</span></p>
<p><span>Also, copper wiring is much easier to install, taking only a few hours to learn. Finally, twisted pair cabling can be created and terminated using inexpensive tools.</span></p>
<p><span>而且，銅線的安裝更容易，只需幾個小時即可學習。最後，可以使用廉價的工具創建和終止雙絞線電纜。</span></p>
<p><span> For example, a complete copper wiring toolset can be bought online for less than $50, while a complete fiber-optic kit may cost $1000 or more. For these reasons, copper has remained the dominant media in most local area networks.</span></p>
<p><span>例如，一套完整的銅線工具套件可以在線購買，價格不到50美元，而一套完整的光纖套件的價格可能在1000美元以上。由於這些原因，銅一直是大多數局域網中的主要介質。</span></p>
<h2>Converters轉換器</h2>
<p id="N10678" lang="">Because of the wide variety of cable and connector types, there is sometimes a need to convert from one type of media to another.</p>
<p lang="">由於電纜和連接器的類型多種多樣，因此有時需要從一種類型的媒體轉換為另一種類型的媒體。</p>
<p lang="">For example, if you have to make a connection between two LANs in buildings that are located one mile apart, but your network uses Cat 5e, UTP cabling, how can you make that connection?</p>
<p lang="">例如，如果您必須在相距一英里的建築物中的兩個LAN之間建立連接，但是您的網絡使用Cat 5e，UTP電纜，那麼如何建立連接？</p>
<p lang="">When you look at your routers, you find they only accept RJ-45 connections, but you know that you cannot run a Cat 5e cable more than 100 meters.</p>
<p lang="">當您查看路由器時，會發現它們僅接受RJ-45連接，但是您知道不能將Cat 5e電纜的長度超過100米。</p>
<p lang="">How can you solve this problem? With a media converter.</p>
<p lang="">您如何解決這個問題？用媒體轉換器嗎?</p>
<p id="N1067B" lang="">Using a media converter, you can convert your RJ-45 connection into an ST, SC, or LC fiber connection, as shown in the image below.</p>
<p lang="">使用媒體轉換器，您可以將RJ-45連接轉換為ST，SC或LC光纖連接，如下圖所示。</p>
<p lang="">Then, you run the one-mile fiber cable to the other building, and use a media converter to convert from the ST, SC, or LC fiber connection back to the RJ-45 the other router requires. Because this is a simple, “dumb” device, it simply converts whatever is received on the first media type and repeats it back out the second media type.</p>
<p lang="">然後，將一英里的光纜連接到另一座建築物，並使用媒體轉換器將ST，SC或LC光纖連接轉換回另一台路由器所需的RJ-45。因為這是一個簡單的“啞”設備，所以它僅轉換在第一媒體類型上接收到的所有內容，然後將其重複播放回第二媒體類型。</p>
<p lang="">Common types of media converters are from Ethernet (copper) to fiber-optic (and back) or coaxial to fiber-optic (and back).</p>
<p lang="">媒體轉換器的常見類型是從以太網（銅）到光纖（然後向後）或同軸到光纖（然後向後）。</p>
<p lang=""><img alt="" height="288" src="/images/image11.png" width="300"/></p>
<h1>PCH 12 Ethernet Standards</h1>
<p><a href="https://oli.cmu.edu/jcourse/webui/syllabus/module.do?context=d87f2ef40a0001dc17e61c60be4f3aed">傳送門:https://oli.cmu.edu/jcourse/webui/syllabus/module.do?context=d87f2ef40a0001dc17e61c60be4f3aed</a></p>
<h2>Overview總覽</h2>
<p><span>In this module, we are going to discuss how the various Ethernet standards developed over time.</span></p>
<p><span>在本模塊中，我們將討論隨著時間的推移如何開發各種以太網標準。</span></p>
<p><span> We will also discuss why there is a need for these standards and the effect of these standards on the industry.</span></p>
<p><span>我們還將討論為什麼需要這些標準以及這些標準對行業的影響。</span></p>
<p><span> In addition, we are going to cover various types of network media standards. We will cover 10Base-T (802.3i, 1990) as well as 100Base-T and 1000Base-T (1GBASE-T or 1 GigE) Ethernet standards, which are most commonly found in current office networks. </span></p>
<p><span>另外，我們將涵蓋各種類型的網絡媒體標準。我們將介紹10Base-T（802.3i，1990）以及100Base-T和1000Base-T（1GBASE-T或1 GigE）以太網標準，它們是當前辦公網絡中最常見的標準。</span></p>
<p><span>We will discover how to plan a basic network connection using 100BaseT. Finally, we will cover differences between Ethernet and TCP/IP.</span></p>
<p><span>我們將發現如何使用100BaseT規劃基本的網絡連接。最後，我們將介紹以太網和TCP / IP之間的差異。</span></p>
<h2>Ethernet Technology以太網技術</h2>
<p id="N10690" lang="">Before Ethernet was the dominant technology, there were multiple types of networking technologies competing for market share.</p>
<p lang="">在以太網成為主導技術之前，存在多種類型的網絡技術爭奪市場份額。</p>
<p lang="">At one point, Ethernet was just one of many competing standards, including token ring, fiber distributed data interface (FDDI), and more.</p>
<p lang="">一方面，以太網只是眾多競爭標準之一，包括令牌環，光纖分佈式數據接口（FDDI）等。</p>
<p lang="">By the late 1990s, a single standard was clearly the dominant choice in both office and residential networks: IEEE 802.3 Ethernet.</p>
<p lang="">到1990年代後期，單一標準顯然已成為辦公和住宅網絡中的主要選擇：IEEE 802.3以太網。</p>
<p lang="">Ethernet uses various media types, from coaxial cable to twisted-pair copper and fiber-optic cables (discussed in an earlier module).</p>
<p lang="">以太網使用各種介質類型，從同軸電纜到雙絞銅纜和光纖電纜（在較早的模塊中討論）。</p>
<p lang="">The 802.3 Ethernet standard and the concept of using frames for communication over various media, including Wireless 802.11, is predominant today, and it is vital to understand the fundamentals of Ethernet including the various speed and distance limitations each standard places on our networks.</p>
<p lang="">802.3以太網標準和使用幀在包括無線802.11在內的各種媒體上進行通信的概念如今非常盛行，了解以太網的基本知識（包括每個標準對我們網絡的各種速度和距離限制）至關重要。</p>
<p id="N10693" lang="">The original 802.3 Ethernet standard sent data over coaxial cables at a half-duplex transmission rate which means devices can only transmit (TX) or Receive (RX) alternately at separate intervals because the data used the same path for both.</p>
<p lang="">最初的802.3以太網標準以半雙工傳輸速率通過同軸電纜發送數據，這意味著設備只能以單獨的間隔交替發送（TX）或接收（RX），因為這兩個數據使用相同的路徑。</p>
<p lang="">This is analagous to communicating using a walkie-talkie rather than a telephone.</p>
<p lang="">這類似於使用對講機而不是電話進行通信。</p>
<p id="N10696" lang="">This coaxial cable design became known as Thicknet and later Thinnet due to the size of the cables and was mostly used in bus and ring network topologies.</p>
<p lang="">由於電纜的尺寸，這種同軸電纜設計被稱為Thinnet，後來被稱為Thinnet，並且主要用於總線和環形網絡拓撲中。</p>
<p id="N10699" lang="">Thicknet, the original IEEE 802.3 standard designated as 10Base5, provided a maximum bandwidth of 10Mbps and was limited in distance to 500 meters.</p>
<p lang="">最初被指定為10Base5的IEEE 802.3標準Thicknet提供的最大帶寬為10Mbps，並且距離限制為500米。</p>
<p lang="">Thinnet, or IEEE 10Base2, used a smaller type of coaxial and also provided a maximum bandwidth of 10 Mbps, but was limited to 185 meters.</p>
<p lang="">Thinnet或IEEE 10Base2使用較小類型的同軸電纜，並且提供的最大帶寬為10 Mbps，但限制為185米。</p>
<p lang="">Eventually the industry transitioned from coaxial cabling to unshielded twisted-pair cabling.</p>
<p lang="">最終，該行業從同軸電纜過渡到非屏蔽雙絞線電纜。</p>
<p id="N1069C" lang="">Twisted pair cabling, dubbed 10BaseT, provided the same 10 Mbps half-duplex maximum bandwidth with a category 3 cable, but the distance was limited to 100 meters due to the lack of the extra shield that coaxial provided.</p>
<p lang="">雙絞線電纜（稱為10BaseT）與第3類電纜可提供相同的10 Mbps半雙工最大帶寬，但由於缺少同軸電纜提供的額外屏蔽，因此距離限制為100米。</p>
<p lang="">In spite of the increased attenuation (loss of signal strength over distance), network designers moved to twisted pair cabling because of ease of installation and overall lower cost.</p>
<p lang="">儘管衰減增加（信號強度隨著距離的增加而損失），但由於易於安裝且總體成本較低，網絡設計人員仍選擇雙絞線佈線。</p>
<p lang="">Coaxial cable fell out of favor and the 802.3 Ethernet standard continues to evolve with faster data rates over twisted pair cabling categories.</p>
<p lang="">同軸電纜不受歡迎，並且802.3以太網標準繼續發展，雙絞線佈線類別的數據速率更快。</p>
<p id="N1069F" lang="">The design question that Ethernet had to answer was how a device should access the network.</p>
<p lang="">以太網必須回答的設計問題是設備應如何訪問網絡。</p>
<p lang="">The nature of half-duplex transmission (TX or RX) over a single wire pair meant that collisions were imminent.</p>
<p lang="">單線對上半雙工傳輸（TX或RX）的性質意味著即將發生衝突。</p>
<p lang="">Should the access be deterministic and orderly, or contention-based and chaotic?</p>
<p lang="">訪問應該是確定性和有序的，還是基於競爭的且混亂的？</p>
<p lang="">The older ring-based networks, such as token ring, were developed upon the premise that order was necessary: each machine would wait for its turn to transmit its data until it received the electronic token that was passed around the ring.</p>
<p lang="">較舊的基於環的網絡（例如令牌環）是在必須有順序的前提下開發的：每台機器都將等待其輪流發送其數據，直到接收到圍繞環傳遞的電子令牌。</p>
<p lang="">This is similar to the “talking stick” or “speaker’s staff” used by Native Americans and other aboriginal tribes where the staff (token) gave the person access to speak and the remaining group members listened. Ethernet, on the other hand, is premised upon a contention-based model.</p>
<p lang="">這類似於美洲原住民和其他原住民部落使用的“說話棒”或“發言人的工作人員”，其中工作人員（令牌）使該人員可以發言，其餘的小組成員則可以收聽。另一方面，以太網以基於競爭的模型為前提。</p>
<p lang="">This is more chaotic and allows any device on the network to transmit anytime it wishes.</p>
<p lang="">這更加混亂，並允許網絡上的任何設備在其希望的任何時間進行傳輸。</p>
<p lang="">The problem with this type of philosophy is figuring out how to prevent two devices from transmitting at the same time and causing a collision of the data.</p>
<p lang="">這種類型的原理存在的問題是，要弄清楚如何防止兩個設備同時傳輸並導致數據衝突。</p>
<p lang="">With Ethernet, the answer came in the form of a media access control method called carrier sense multiple access/collision detect (CSMA/CD).</p>
<p lang="">對於以太網，答案是以一種稱為載波偵聽多路訪問/衝突檢測（CSMA / CD）的媒體訪問控制方法的形式出現的。</p>
<h2>Carrier Sense Multiple Access&amp;Collision Detect載波偵聽多路訪問和衝突檢測</h2>
<p id="N10698" lang="">The nature of half-duplex transmission brought about the need for CSMA/CD, which works by allowing all devices to transmit data whenever they wish.</p>
<p lang="">半雙工傳輸的性質帶來了對CSMA / CD的需求，它允許所有設備在需要時傳輸數據。</p>
<p lang="">The carrier sense portion means that the device “listens” to the network first to find a “break” in the conversation.</p>
<p lang="">運營商感知部分意味著設備首先“監聽”網絡以在會話中找到“中斷”。</p>
<p lang="">If the device doesn’t hear other devices transmitting, then it begins its transmission.</p>
<p lang="">如果該設備聽不到其他設備的傳輸，則開始傳輸。</p>
<p lang="">Multiple access refers to every device having equal access to the network at all times.</p>
<p lang="">多路訪問是指每台設備始終具有對網絡的平等訪問權限。</p>
<p lang="">This is unlike the token ring network in which each device had to wait for the signal (token) before transmitting.</p>
<p lang="">這與令牌環網絡不同，在令牌環網絡中，每個設備都必須在發送之前等待信號（令牌）。</p>
<p lang="">Finally, we have collision detection as part of the CSMA/CD control method.</p>
<p lang="">最後，我們將碰撞檢測作為CSMA / CD控制方法的一部分。</p>
<p lang="">If, by chance, two devices both were ready to transmit, they “listened” to the network for a “lull” in the conversation, and both started transmitting at the same time, the devices are able to detect that they both transmitted at the same time and caused a collision.</p>
<p lang="">如果偶然地兩個設備都準備好發送，則它們在通話中“偵聽”網絡中的“失敗”，並且兩個設備都同時開始發送，則這些設備能夠檢測到它們都在發送時發送。同時又造成了碰撞。</p>
<p id="N1069B" lang="">The image below depicts both the CSMA/CD and CSMA/CA simplified algorithm.</p>
<p lang="">下圖描述了CSMA / CD和CSMA / CA簡化算法。</p>
<p lang="">The left branch is CSMA/CD used by half-duplex Ethernet and the right branch is CSMA/CA used by 802.11 wireless LAN, which is also half-duplex.</p>
<p lang="">左分支是半雙工以太網使用的CSMA / CD，右分支是802.11無線LAN（也是半雙工）使用的CSMA / CA。</p>
<p lang=""><img alt="" height="749" src="/images/image1.png" width="769"/></p>
<p lang=""><span>In the example shown below, four devices are connected in a physical bus topology. Each device has equal access to the network.</span></p>
<p lang=""><span>在下面顯示的示例中，四個設備以物理總線拓撲連接。每個設備對網絡都有平等的訪問權限。</span></p>
<p lang=""><span> Here, all the devices are listening, trying to determine if any other device is communicating before beginning transmission.</span></p>
<p lang=""><span>在這裡，所有設備都在監聽，試圖確定是否有其他設備在開始傳輸之前進行通信。</span></p>
<p lang=""><span><img alt="" height="488" src="/images/image2.png" width="700"/></span></p>
<p id="N106CA" lang="">In the next image below, we see an example of two devices that transmitted at the same time.</p>
<p lang="">在下一張圖片中，我們看到了兩個同時傳輸的設備的示例。</p>
<p lang="">This simultaneous transmission resulted in a data collision, causing the transmission to be broken.</p>
<p lang="">這種同時傳輸導致數據衝突，導致傳輸中斷。</p>
<p lang=""><img alt="" height="488" src="/images/image3.png" width="700"/></p>
<p id="N106DB" lang="">When a collision is detected, both devices choose a backoff time at random, and then attempt to retransmit again.</p>
<p lang="">當檢測到衝突時，兩個設備都會隨機選擇一個退避時間，然後嘗試重新傳輸。</p>
<p lang="">In the diagram below, the computers choose to wait 200 milliseconds and 300 milliseconds, respectively.</p>
<p lang="">在下圖中，計算機分別選擇等待200毫秒和300毫秒。</p>
<p lang="">When that time is up, they will attempt to sense if another machine is already transmitting.</p>
<p lang="">時間到時，他們將嘗試檢測另一台機器是否已經在傳輸。</p>
<p lang="">If there is nothing detected, the first machine will transmit its message. Once completed, the second machine will then transmit its message, after its 300 millisecond wait time.</p>
<p lang="">如果未檢測到任何內容，則第一台機器將發送其消息。一旦完成，第二台機器將在其300毫秒的等待時間之後發送其消息。</p>
<p lang=""><img alt="" height="488" src="/images/image4.png" width="700"/></p>
<p lang="">Recovering from a collision with random backup timers.</p>
<p lang="">使用隨機備份計時器從衝突中恢復。</p>
<h2>Evolution of Standards標準的演變</h2>
<p id="N10690" lang="">Finally, we need to discuss the various standards we use in Ethernet in terms of bandwidth and distance limitations.</p>
<p lang="">最後，我們需要討論帶寬和距離限制方面在以太網中使用的各種標準。</p>
<p id="N10693" lang="">The Ethernet standard also determines the type of cable, its bandwidth, and its distance limitation.</p>
<p lang="">以太網標準還確定電纜的類型，帶寬和距離限制。</p>
<p lang="">It is important to know these standards, especially those that relate to a category 3, 5, 5e, and 6 cabling standard.</p>
<p lang="">重要的是要知道這些標準，尤其是與3、5、5e和6類佈線標準有關的標準。</p>
<p lang=""><img alt="" height="361" src="/images/螢幕擷取畫面 2020-10-25 232802.png" width="596"/></p>
<p lang=""><span>When discussing data flow and speed, the two terms referred to are bandwidth and throughput. </span></p>
<p lang=""><span>在討論數據流和速度時，所指的兩個術語是帶寬和吞吐量。</span></p>
<p lang=""><span>Often used interchangeably, the two terms are different and need to be understood. </span></p>
<p lang=""><span>這兩個術語通常可以互換使用，它們是不同的，需要理解。</span></p>
<p lang=""><span>Simply put, bandwidth is the theoretical maximum of the given standard, whereas throughput is the actual potential in a real-world scenario. </span></p>
<p lang=""><span>簡而言之，帶寬是給定標準的理論最大值，而吞吐量是實際情況下的實際潛力。</span></p>
<p lang=""><span>Many factors affect actual throughput, such as half-duplex vs. full-duplex, cable length, and quality. </span></p>
<p lang=""><span>許多因素會影響實際吞吐量，例如半雙工與全雙工，電纜長度和質量。</span></p>
<p lang=""><span>Both bandwidth and throughput are measured in bits per second (bps) with the prefix K (kilobit), M (megabit), or G (gigabit). Each Ethernet category (cat) cable supports a different Ethernet standard and thereby determines the bandwidth capacity or maximum throughput.</span></p>
<p lang=""><span>帶寬和吞吐量都以比特每秒（bps）為單位，前綴為K（千比特），M（兆比特）或G（千兆比特）。每條以太網類別（CAT）電纜均支持不同的以太網標準，從而確定帶寬容量或最大吞吐量。</span></p>
<p lang=""><span> The table below shows the bandwidth according to Ethernet type.</span></p>
<p lang=""><span>下表顯示了根據以太網類型的帶寬。</span></p>
<p lang=""><span><img alt="" height="227" src="/images/HW1-1.png" width="509"/></span></p>
<h2>Planning a Basic Network Connection Using 100&amp;1000Base使用100＆1000Base規劃基本的網絡連接</h2>
<p><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ef90a0001dc00e1634b45d7d907">https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2ef90a0001dc00e1634b45d7d907</a></p>
<h3>Planning a Basic Network Connection Using 100&amp;1000Base使用100＆1000Base規劃基本的網絡連接</h3>
<p id="N10688" lang="">Now that you have a general understanding of networking hardware, application of standards for LANs (local area networks) and WANs (wide area networks), and the limitations of the media used, you should be able to plan adding a network node to an already existing network.</p>
<p lang="">既然您已經對網絡硬件，LAN（局域網）和WAN（廣域網）的標準的應用以及所用媒體的限制有了一般的了解，那麼您應該能夠計劃將網絡節點添加到已經現有網絡。</p>
<p lang="">For example, you could add a new computer to your company’s wired LAN.</p>
<p lang="">例如，您可以將新計算機添加到公司的有線局域網中。</p>
<p lang="">In such situations, the majority of the hardware installation is plug and play (PnP), but you still have to know that the hardware and media chosen are correct, configure software settings for network access, and verify the new hardware will function properly to allow user access to all network resources.</p>
<p lang="">在這種情況下，大多數硬件安裝都是即插即用（PnP），但您仍然必須知道所選的硬件和媒體是正確的，配置用於網絡訪問的軟件設置，並驗證新硬件是否正常運行以允許用戶訪問所有網絡資源。</p>
<p id="N1068B" lang="">Current technology in most small office/home office (SOHO) environments will have auto-sensing networking hardware.</p>
<p lang="">大多數小型辦公室/家庭辦公室（SOHO）環境中的當前技術都將具有自動感應網絡硬件。</p>
<p lang="">There are older switches and routers that still remain in some networks that do not have the ability to run at 100/1000BaseT, so check your network documentation!</p>
<p lang="">有些舊的交換機和路由器仍然保留在某些不能在100 / 1000BaseT上運行的網絡中，因此請查看您的網絡文檔！</p>
<h3>Media媒體</h3>
<div class="section" id="N1068E">
<div class="sectionContain">
<p id="N10695" lang="">Installing a wired connection onto the network means knowing if the NIC (network interface card) of the device can also auto-negotiate throughput based on the cable media used.</p>
<p lang="">在網絡上安裝有線連接意味著要知道設備的NIC（網絡接口卡）是否還可以根據所使用的電纜介質自動協商吞吐量。</p>
<p lang="">Again, new or current technology should be auto-sensing and auto-negotiating (speed, duplex mode and other network parameters).</p>
<p lang="">同樣，新技術或當前技術應該是自動感應和自動協商（速度，雙工模式和其他網絡參數）。</p>
<p lang="">The most important decision for the technician is selecting the correct type of Ethernet cable to connect the device.</p>
<p lang="">對於技術人員而言，最重要的決定是選擇正確的以太網電纜類型來連接設備。</p>
<p lang="">Recall that the cable standards will restrict distance as well as throughput.</p>
<p lang=""><span>回想一下，電纜標準將限制距離以及吞吐量。 </span></p>
<p lang="">A cat 5 cable was standard for 100BaseT but will limit throughput to 100 Mbps so you must use cat 5e or cat 6 if you are trying to achieve 1000BaseT (1 Gbps).</p>
</div>
</div>
<div class="section" id="N1069A">
<div class="sectionContain">Cat 5電纜是100BaseT的標準配置，但將吞吐量限制為100 Mbps，因此，如果要實現1000BaseT（1 Gbps），則必須使用Cat 5e或Cat6。</div>
<h3>Distance距離</h3>
<div class="section" id="N1069A">
<div class="sectionContain">
<p id="N106A1" lang="">Most current SOHO environments will have Ethernet wall jacks internally connecting to the next network device, be it a switch or a hub.</p>
<p lang="">當前大多數SOHO環境將在內部將以太網牆壁插孔連接到下一個網絡設備，無論是交換機還是集線器。</p>
<p lang="">But, if there is not a connection already present, you must remember that all copper-based Ethernet cable is limited to 100 meters.</p>
<p lang="">但是，如果尚不存在連接，則必須記住所有基於銅纜的以太網電纜限制為100米。</p>
<p lang="">Do not run the wire in an area where the cabling can cause a safety hazard, become damaged due to environmental conditions, or suffer from electromagnetic interference (EMI).</p>
<p lang="">請勿在可能會導致安全隱患，因環境條件而損壞電纜或遭受電磁干擾（EMI）的區域中佈線。</p>
</div>
</div>
<div class="section" id="N106A6">
<h3>Verify Connectivity驗證連接性</h3>
<p id="N106AD" lang="">After the machine is connected and powered on (assuming Windows 7 or later), watch the system tray after boot-up to see if there is a wired network icon.</p>
<p lang="">連接機器並打開電源後（假設使用Windows 7或更高版本），啟動後請查看系統托盤，以查看是否有有線網絡圖標。</p>
<p lang="">The standard Windows 7 icons are:</p>
<p>Windows 7的標準圖標是：</p>
<p><img alt="" height="150" src="/images/HW1-2.png" width="569"/></p>
<div class="section" id="N106A6">
<div class="sectionContain">
<p id="N106BB" lang="">Access the “network sharing center” to select the type of network access you need to have and add any devices required for the node (e.g., a printer).</p>
<p lang="">訪問“網絡共享中心”以選擇所需的網絡訪問類型，並添加該節點所需的任何設備（例如打印機）。</p>
<p lang="">Verify access by opening the browser or using a command line tool to verify connectivity and addressing.</p>
</div>
</div>
<div actguid="d87f2f140a0001dc503fc79774f89706" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2f140a0001dc503fc79774f89706&amp;userGUID=40923221%40gm.nfu.edu.tw&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch12_lbd06">
<div class="activityhead">通過打開瀏覽器或使用命令行工具來驗證訪問權限，以驗證連接性和地址。</div>
<h2>Differentiating Between Ethernet and TCP and IP區分以太網和TCP和IP-1</h2>
<p><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2efa0a0001dc4336b4adb87938b6">https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2efa0a0001dc4336b4adb87938b6</a></p><h3>Differentiating Between Ethernet and TCP&amp;IP區分以太網和TCP＆IP</h3>
<p><span>As an A+ certified technician, you will be introduced to the basics of computer networking, which is further covered when learning the CompTIA Net+ standards.</span></p>
<p><span>作為A +認證的技術人員，將向您介紹計算機網絡的基礎知識，在學習CompTIA Net +標準時將進一步介紹這些知識。</span></p>
<p><span> Although CompTIA A+ does not test on the open systems interconnection model (OSI model), it is a theoretical model that is the basis for the way data travels through computer networks.</span></p>
<p><span>儘管CompTIA A +沒有在開放系統互連模型（OSI模型）上進行測試，但它是一種理論模型，是數據在計算機網絡中傳輸的基礎。</span></p>
<p><span> When you click on an icon and connect to the Internet through a browser such as Google Chrome, Mozilla Firefox, or Internet Explorer, a request to connect is sent through a series of steps from the application layer down to the physical layer. </span></p>
<p><span>當您單擊圖標並通過瀏覽器（例如Google Chrome，Mozilla Firefox或Internet Explorer）連接到Internet時，連接請求將通過從應用程序層到物理層的一系列步驟發送。</span></p>
<p><span>All data physically enters and exits a computer node (client, server, or printer) through a network interface card (NIC) based on the type of medium being used (wireless, copper, or fiber-optic).</span></p>
<p><span>根據使用的介質類型（無線，銅纜或光纖），所有數據都通過網絡接口卡（NIC）物理地進入和退出計算機節點（客戶端，服務器或打印機）。</span></p>
<p><span>The data packets are represented and interpreted using the binary number system.</span></p>
<p><span>數據包使用二進制數字系統表示和解釋。</span></p>
<p><span><img alt="" height="433" src="/images/WH1-3.png" width="568"/></span></p>
<h3>Protocols規約</h3>
<div class="section" id="N10699">
<div class="sectionContain">
<p id="N106A0" lang="">In computer networking, a protocol is a set of communication rules by which data communication occurs.</p>
<p lang="">在計算機網絡中，協議是通過其進行數據通信的一組通信規則。</p>
<p lang="">The popularity of Ethernet is based on the standardization of protocols and ability to use the TCP/IP suite to carry data throughout a variety of hardware devices.</p>
</div>
</div>
<div class="section" id="N106A5">
<div class="sectionContain">以太網的普及是基於協議的標準化以及使用TCP / IP套件在各種硬件設備中傳輸數據的能力。</div>
</div>
<p><span>Ethernet乙太網路</span></p>
<p><span>Ethernet is defined by the IEEE 802.3 specification, which sets the standard and interoperability between devices, allowing communication over computer networks. </span></p>
<p><span>以太網由IEEE 802.3規範定義，該規範設置了設備之間的標準和互操作性，從而允許通過計算機網絡進行通信。</span></p>
<p><span>These specifications control how data physically travels between nodes on both the physical layer and the data link layer through media access control (MAC). </span></p>
<p><span>這些規範通過媒體訪問控制（MAC）控制數據在物理層和數據鏈路層上的節點之間的物理傳輸方式。</span></p>
<p><span>The hardware controlled by these specifications include NICs, wiring (i.e., cat 5, 5e, and 6) including the RJ-45 connectors, switches, and hubs.</span></p>
<p><span>這些規範所控制的硬件包括NIC，包括RJ-45連接器，交換機和集線器的佈線（即Cat 5、5e和6）。</span></p>
<h3>TCP&amp;IP</h3>
<p><span>Whereas Ethernet controls the physical data, transmission control protocol and Internet protocol (TCP/IP) is a suite of protocols that operate logically throughout the different layers of the OSI model as well as in the TCP/IP model.</span></p>
<p><span>以太網控制物理數據，而傳輸控制協議和Internet協議（TCP / IP）是一套協議，可以在OSI模型的不同層以及TCP / IP模型中進行邏輯操作。</span></p>
<p><span><img alt="" height="595" src="/images/WH1-4.png" width="529"/></span></p>
<div class="section" id="N106B1">
<div class="sectionContain">
<p id="N106C4" lang="">A good analogy to help understand how Ethernet uses TCP/IP to transport data is to consider the old pneumatic tube systems used by banks.</p>
<p lang="">一個很好的類比可以幫助理解以太網如何使用TCP / IP傳輸數據，是考慮銀行使用的舊式氣動系統。</p>
<p lang="">The tube and the carrier that the deposit envelope is placed in represent Ethernet.</p>
<p lang="">放置存款信封的管子和載體代表以太網。</p>
<p lang="">The envelope and the currency represent a protocol from the TCP/IP suite used throughout different layers (see additional information<span> </span><a href="http://superuser.com/questions/206431/ethernet-vs-tcp-vs-ip" id="_i_3" lang="" target="_blank">here</a>).</p>
</div>
</div>
<div actguid="d87f2f190a0001dc79087ffb3e23f9a4" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2f190a0001dc79087ffb3e23f9a4&amp;userGUID=40923221%40gm.nfu.edu.tw&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch12_lbd07">
<div class="activityhead">信封和貨幣表示來自TCP / IP套件的協議，在整個不同層中使用。</div></div></div></div></div></div></div></div></div></div>